@media (min-width: 100px) and (max-width: 767px) {
    h1{
        font-size: 20px !important;
    }
    .psge{
        font-size: 10px !important;
    }
    .mt{
        margin-top: 50px !important;
    }
    .nav-item{
        text-align: center;
        padding: 0 !important;
        gap: 5px;
        font-size: 15px !important;
    }
    .order-tracking {
        flex-direction: column;
        gap: 150px;
    }
    
    .line{
        rotate: 90deg;
        transform: none !important;
        width: 55px !important;
    }
    .btn{
        padding: 5px 15px !important;
        font-size: 15px !important;
    }
    .table img{
        height: 40px !important;
        width: 40px !important;
    }
    .table ul li{
        font-size: 10px !important;
    }
    .contact{
        grid-template-columns: repeat(1,1fr) !important;
        gap: 20px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-item{
        gap: 5px;
        font-size: 15px !important;
    }
}