/*======================= global =====================*/
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wdth,wght@87.5,300&display=swap');
body{
    font-family:'Mona Sans', sans-serif;
    line-height: 1.5;
    background-color: #fff0cf;
    margin: 0;
    padding: 0;
}
.container{
    padding-inline: 6%;
    background-color: #ffff;
}
.mt{
    margin-top: 100px;
}
/*======================= global =====================*/
/* ====================== confirmation ===================== */
.confirmation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff8f0;
    border-radius: 8px;
    padding: 10%;
}
/* ====================== confirmation ===================== */

/* ====================== order tracking ===================== */
.order-tracking {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}  
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}  
.step .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    background: white;
    border: 2px solid black;
}  
.completed .icon {
    background: red;
    color: white;
    border: none;
}  
.line {
    width: 100px;
    height: 2px;
    background: black;
    transform: translateY(-18px);
}
/* ====================== order tracking ===================== */

/* ====================== button ===================== */
.btn{
    padding: 10px 50px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 30px;
}
.btn:hover{
    background-color: #ff7f47;
    color: white;
}
/*======================= button =====================*/

/* ======================= text ===================== */
.text{
    padding-inline: 10%;
}
/* ====================== text ===================== */

/* ====================== order details ===================== */
.order-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ====================== order details ===================== */

/* ====================== contact ===================== */
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.conct{
    background-color: #ead4bb;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items:first baseline;
    gap: 20px;
    cursor: pointer;
}
/* ====================== contact ===================== */

/* ====================== FAQS ===================== */
.FAQS{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 3%;
    height: 100vh;
    background: #ffdbb5;
    background-image: url('../asset/vecteezy_clothing-used-good-retail-shopping-sales_25028084.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 200px 170px;
}
/* ====================== FAQS ===================== */

/* ====================== shipping ===================== */
.shipping{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: #fff8ed;
    padding: 3%;
    border-radius: 10px;
}
/* ====================== shipping ===================== */

/* ====================== links ===================== */
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff8ed;
    padding: 5%;
    border-radius: 10px;
}
.links-text span a{
    color: #ff7f50;
    text-decoration: none;
}
/*========================= links==================== */

/* ====================== footer ===================== */
.footer{
    background-image: url('../asset/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    position: relative;
}
.footer-container{
    background-color: rgba(163, 165, 215, 0.853);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}
.footer-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10%;
}
