/*======================= global =====================*/
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wdth,wght@87.5,300&display=swap');
body{
    font-family:'Mona Sans', sans-serif;
    line-height: 1.5;
    background-color: #fff0cf;
    margin: 0;
    padding: 0;
}
.container{
    padding-inline: 6%;
    background-color: #ffff;
}

/* ====================== confirmation ===================== */
.confirmation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff8f0;
    border-radius: 8px;
    padding: 10%;
}
/* ====================== confirmation ===================== */

/* ====================== order tracking ===================== */
.order-tracking {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}  
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}  
.step .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    background: white;
    border: 2px solid black;
}  
.completed .icon {
    background: red;
    color: white;
    border: none;
}  
.line {
    width: 100px;
    height: 2px;
    background: black;
    transform: translateY(-18px);
}
/* ====================== order tracking ===================== */
